<app-menu>
  Loading...
</app-menu>

<div class="container">

  <header class="jumbotron hero-spacer">
    <h1>Bienvenue sur Zenika Ecommerce</h1>
    <p [ngStyle]="{'font-size': size}">Votre panier s'élève à {{total}}€</p>
    <p><a class="btn btn-primary btn-large">Voir mon panier</a></p>
  </header>

  <hr>

  <div class="row">
    <div class="col-lg-12">
      <h2>Derniers Produits</h2>
    </div>
  </div>

  <div class="row text-center">

    <ng-template ngFor let-item [ngForOf]="products" let-i="index">
      <ng-template [ngIf]="item.stock > 0">
        <app-product-component (addToBasketEvent)="onAddToBasket($event)" [data]="item">
          Loading...
        </app-product-component>
      </ng-template>

    </ng-template>


  </div>

  <hr>

  <app-footer>
    Loading...
  </app-footer>

</div>